---
import { db, Comments, Users } from "astro:db";

const users = await db.select().from(Users);
const comments = await db.select().from(Comments);

console.log("USERS", users);
console.log("COMMENTS", comments);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1 class="text-4xl font-bold">Sign in</h1>
    <a href="/api/login/github" class="underline">Sign in with GitHub</a>
  </body>
</html>
